[server]
# HTTP 服务监听地址
listen_addr = ":8899"

[collector]
# 数据采集间隔（秒）
interval = 1

# 小米路由器 API（可选，用于获取 Mesh 全量设备列表）
[collector.miwifi]
# admin 密码（管理后台密码），留空则不启用
password = ""

# WAN 口配置
[[wan]]
name = "wan1"
interface = "pppoe-wan"
label = "WAN1"

[[wan]]
name = "wan2"
interface = "pppoe-wan_2"
label = "WAN2"
